*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #2257c1;
    --sea-green: #2eb1ae;
    --orange: #f99e1f;
    --light-blue: #E8EEF9;
    --light-green: #D5F1EE;
    --light-orange: #FEECD2;
}

main {
    padding-top: 4.5rem;
    font-family: "Roboto Slab";
}

.logo {
    width: 48px;
    margin-top: -7px;
}

#hero {
    min-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(
        135deg, 
        var(--blue),
        var(--sea-green)
    );
}
#hero .container {
    max-width: 800px;
    text-align: center;
    color: white;
}
#hero h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    line-height: 1.2;
    margin-bottom: 2rem;
}
#hero span {
    color: var(--orange);
}

.hero-btn-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
}
.btn-hero {
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    background-color: var(--orange);
    transition: all 0.3s ease;
}
.btn-hero:hover {
    background-color: rgba(230, 147, 31, 0.9);

}
#btn-transparent {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    
}
#btn-transparent {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

#btn-transparent:hover {
  background: rgba(255, 255, 255, 0.15);
  border-color: #ffffff;
}
.btn-hero i {
    margin-right: 8px;
    transition: all 0.3s ease;
}
.btn-hero:hover i {
    transform: translateX(4px);
}

.hero-facts-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 500px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
}

.fact h3 {
    color: var(--orange);
}

/* About Section  */
#about-section {
    background-color: #F9FAFB;
    display: flex;
    flex-direction: row;
    padding: 70px 40px;
    gap: 70px;
}
.text-container, .icon-container, .card-container {
    width: 50%;
}
.section-btn {
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 14px;
    cursor:auto;
}
#about-section-btn, #courses-section-btn {
    background-color: #E3EAF5;
    color: var(--blue);
}

.text-container h2, #courses-section h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin: 30px 0;
}
.text-container h2 span, #courses-section h2 span {
    color: var(--blue);
}

.text-container p {
    margin-bottom: 30px;
}
.about-us-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.about-us-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 330px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgb(219, 219, 219);
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px rgba(92, 90, 90, 0.1);
}
.about-us-card:hover {
    transform: scale(1.05);
    box-shadow: 4px 8px 16px rgba(92, 90, 90, 0.1);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    padding: 10px;
    border-radius: 10px;
}   

.icon i {
    font-size: 24px;
}
.mission-card .icon {
    background-color: var(--light-blue);
}

.vision-card .icon {
    background-color: var(--light-green);
}
.mission-card i {
    color: var(--blue);
}
.vision-card i {
    color: var(--sea-green);
}

.about-card-heading {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
.about-card-para {
    font-size: 16px;
    color: gray;
} 

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(
        135deg, 
        var(--blue),
        var(--sea-green)
    );
    border-radius: 20px;
    height: 600px;
}
.icon-container .img-card {
    background-color: white;
    border-radius: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    box-shadow: 2px 4px 8px rgba(92, 90, 90, 0.1);
    color: rgb(71, 70, 70);
    line-height: 0.5;
}
.icon-container i {
    font-size: 100px;
    color: white;
    margin-bottom: 20px;
}
.icon-container h2 {
    color: white;
}
#first-img-card {
    left: -20px;
    bottom: -10px;
}
#second-img-card {
    top: -20px;
    right: -10px;
}

#first-img-card h3 {
    color: var(--blue);
}
#second-img-card h3 {
    color: var(--sea-green);
}

/* Courses Section  */
#courses-section {
    background-color: #F5F7F8;
}
#courses-section .card {
    border-radius: 20px;
    transition: all 0.3s ease;
}
.card:hover {
    box-shadow: 0 0 6px 12px rgba(188, 186, 186, 0.15);
    transform: scale(1.03);  
}
.course-card-heading {
    font-size: 16px;
}
.card-text {
    font-size: 14px;
    color: rgb(71, 70, 70);
}
.card:hover .course-card-heading {
    color: var(--blue);
}
.icon-blue {
    color: var(--blue);
    background-color: var(--light-blue);
}
.icon-green {
    color: var(--sea-green);
    background-color: var(--light-green);
}
.icon-orange {
    color: var(--orange);
    background-color: var(--light-orange);
}
#courses-cta {
    display: block;
    width: 190px;
    margin: 0 auto;
}
#courses-cta-arrow {
    transition: all 0.3s ease;
    margin-right: 8px;
}
#courses-cta:hover {
    box-shadow: 0 0 8px 16px rgba(203, 202, 202, 0.15);
}
#courses-cta:hover #courses-cta-arrow {
    transform: translateX(4px);
}

/* why section  */
#why-choose-section {
    display: flex;
    padding: 70px 40px;
    background-color: #F9FAFB;
    gap: 70px;
}
#why-section-btn {
    color: var(--sea-green);
    background-color: var(--light-green);
}
#why-choose-section .text-container {
    margin-top: 100px;
}
.placement-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: var(--light-blue);
    border-radius: 20px;
    padding: 15px 25px;
}

.placement-card::before {
    content: "";
    position: absolute;
    background-color: #D2E9EC;
    bottom: 30px;
    right: 90px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 0;
}
.placement-card::after {
    content: "";
    position: absolute;
    background-color: #D1E2EF;
    bottom: -20px;
    right: -20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 0;
}
.placement-card h1 {
    color: var(--blue);
}
.placement-text-2 {
    font-size: 14px;
    color: rgb(71, 70, 70)
}
#why-choose-section .card:hover {
    
}
@media (max-width: 1024px) {
    #about-section, #why-choose-section {
        flex-direction: column;
    }
    .text-container, .icon-container, .card-container {
        width: 100%;
    }
    .about-us-cards{
        justify-content: center;
    }
    #why-choose-section .text-container {
    margin-top: 0;
}
    
}
@media (max-width: 756px) {
    .about-us-cards {
        flex-direction: column;
    }
    .about-us-card {
        width: 100%;
        height: 230px;
    }
}

@media (max-width: 576px) {
    .hero .container {
        max-width: 600px;
        margin: 0 auto;
    }
    
    .hero-btn-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 5px;
    }
    .btn-hero {
        width: 100%;
    }
    .icon-container {
        height: 400px;
    }
}